.tabs {
  display: flex;
  justify-content: space-around;

  .tabsItem {
    height: 80px;
    text-align: center;
    line-height: 80px;
    font-size: 28px;
  }

  .tabsItemActive {
    border-bottom: 1px solid #63BA74;
    color: #63BA74;
  }
}

.orders {
  border-bottom: 10px solid #f7f7f7;
  .orderTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    .orderNum {
      font-size: 26px;
      color: #6d6d6d;
    }
    .orderStatus {
      font-size: 26px;
      color: #63BA74;
    }
  }

  .cartDetails {
    display: flex;
    justify-content: center;
    border-top: 1px solid #fafafa;
    margin: 0 30px;

    .goodDetail {
      width: 95%;
      display: flex;
      align-items: center;
      margin: 30px 0;

      .good-image {
        height: 25vw;
        width: 25vw;
      }

      .good-text {
        height: 25vw;
        width: 70vw;
        padding-left: 20px;
        font-size: 28px;
        display: flex;
        flex-direction: column;

        .text-top {
          height: 100%;
        }

        .text-bottom {
          font-size: 26px;
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }

  .orderPrice {
    display: flex;
    justify-content: flex-end;
    font-size: 28px;
    border-top: 1px solid #fafafa;
    margin: 0 30px;
    padding: 20px;
  }
}