.price-container {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    padding: 0px 30px;
    background: linear-gradient(left, #FF8361, #FFD46C);
    color: #FCF6EF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .price-left {
        .price {
            font-size: 50px;
        }
        .oldprice {
            margin-left: 20px;
            font-size: 24px;
            text-decoration: line-through;
        }
    }
    .price-right {
        font-size: 24px;
        padding: 5px 10px;
        background-color: #FC9826;
        border-radius: 5px;
    }
}

.title-container {
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    .title-left{
        .titleleft-top{
            font-size: 30px;
        }
        .titleleft-bottom{
            font-size: 24px;
            padding-top: 20px;
            color: #B7B7B7;
        }
    }
    .title-right{
        display: flex;
        color: #B7B7B7;
        flex-direction: column;
    }
}

.details-tab {
    height: 100px;
    width: 100%;
    line-height: 100px;
    text-align: center;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    color: #FCF6EF;
    font-family: 'Courier New', Courier, monospace;
    .tab-button {
        width: 100%;
        background-color: blue;
        display: flex;
        font-size: 26px;
        justify-content: space-around;
    }
    .shop-button {
        width: 100%;
        background-color: #63BA76;
    }
    .sell-button {
        width: 100%;
        background-color: #FDA625;
    }
}