.addAddressBtn {
  width: 100%;
  background-color: #61BA76;
  color: #ffffff;
  border-radius: 0;
  position: fixed;
  bottom: 0;
}

.input {
  display: flex;
  align-items: center;
  .inputTitle {
    font-size: 28px;
    margin: 20px 50px;
  }
  .inputText {
    font-size: 28px;
  }
}