.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .nav-container {
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 80px;
        line-height: 80px;
        font-size: 28px;
    }
    .swiper {
        width: 100%;
        display: block;
    }
    .image {
        width: 100%;
        display: block;
    }
    .goods-container {
        width: 100%;
        justify-content: space-between;
        display: flex;
        font-size: 30px;
        .goods-title {
            overflow: hidden;
            line-height: 60px;
            text-align: center;
            height: 60px;
            text-overflow: ellipsis;
        }
        .goods-button {
            width: 120px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            background-color: #F1521B;
            color: #FFFDFC;
            border-radius: 10px;
            letter-spacing: 4px;
            margin-right: 15px;
            flex: 0 0 120px;
        }
    }
    .price-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .getinfo-button {
        z-index: 99;
        height: 200px;
        width: 50%;
        background-color: #FFFDFC;
    }
}